doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Senseimedia
		link(rel="icon", href="favicon.jpg", type="image/jpg")
	body 
		include ./view/header
		main.main 
			include ./view/intro
			include ./view/info
			include ./view/service
			include ./view/form
			include ./view/works
		include ./view/footer
		