.info 
	.container 
		.info__content 
			h2.info__title Мы знаем толк в дизайне!
			.info__grid
				.info__block
					.info__block-content  
						span.info__block-title 6 лет
						p.info__block-text В сфере рекламы
				.info__block
					.info__block-content  
						span.info__block-title более 
							span 100
						p.info__block-text Наших постоянных клиентов
				.info__block
					.info__block-content  
						span.info__block-title 
							span +20%
						p.info__block-text Конверсия продаж
				.info__block
					.info__block-content  
						span.info__block-title 
							span -70%
						p.info__block-text Ошибок менеджеров