.intro
	.container 
		.intro__grid 
			.intro__content 
				h1.intro__title Студия дизайна
				<br/>
					span.intro__title-span полного цикла
				.intro__text От дизайна визиток до дизайна сайтов
				.intro__btn 
					span.intro__btns Комплексные решения
					span.intro__btns Логотипы
					span.intro__btns Дизайн
			img.intro__img(src=require("../images/intro.png?as=webp"), alt="")