
$bodyBg: #E6E6E6;
$blackTxt: #333333;
$pinkLG: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
$violetLG: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
$orangeLG: linear-gradient(115.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
$whiteBlock: #ffffff;
$whiteTxt: #ffffff;
$gayBg: #77B2D3;
